// @queue-box-bg: lightblue;

@import "../../node_modules/bootstrap/scss/bootstrap";

.settings-left{
    margin-left: 50px !important;
}

.icon-group > i{
    margin-left: 15px;
}

.icon-group > i:first-child{
    margin-left: inherit;
}

table{
    border-collapse: collapse !important;
}

/* not used?
/*.editable-row{*/
/*    border:#CCE2FF 2px solid;*/
/*    background-color: #d8d8d8;*/
/*}*/

/*.editable-row > td{*/
    /*padding-top: 0px;*/
    /*padding-bottom: 0px*/
/*    padding: 0 !important;*/
/*    background:transparent;*/
/*    border: none;*/
/*}*/

/*.editable-row input, .editable-row textarea{*/
/*    border: none !important;*/
/*    background:transparent !important;*/
/*    border-radius: 0;*/
/*}*/

.table-heading{
    display:inline-flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.description-field{

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

// .items-table textarea{
//     padding: 0.67857143em 1em !important;
//     line-height: 1.21428571em !important;
// }

.items-table .form{
    margin-bottom: unset;
}

.items-table{
    vertical-align: top;
    white-space: pre-wrap;
}


.winner-tools{
    float: right;
}

.winner-tools >:first-child{
    margin-right: 10px;
}

.winner-row{
    padding-left: 5% !important;
    padding-right: 5% !important;
    background-color: rgba(207, 236, 233, 0.6)
}

.winner-select{
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
}

.winner-heading{
    font-weight: bold;
}

.winner-wrapper{
    display: flex;
}

.sales-header{
    display:flex;
    justify-content: space-between;
    .statistic{
        margin-top: unset !important;
        margin-right: 10px;
    }
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.spread-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.select-box{
    display: flex;
    // align-items: flex-start;
    // flex-direction: column;
    margin-left: auto;
    form{
        margin-block-end:0em;
    }
}

.select-box .form, .select-box .inline{
    margin-bottom: unset !important;
}

.name-emphasis{
    color: #2B96BB;
}

.table-no-bottom-line{
    border-bottom: 0px !important;
    border-top: 0px !important;
}

.table-dotted-top-line{
    border-top: 1px dashed black !important;
}

.receipt-tape{
    // border-radius: 7px;
    // box-shadow: 3px 3px lightgrey;
    border: 1px gray solid;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.2),
    -1px -1px 4px rgba(0,0,0,0.2);
    max-width: 225px;
    min-height: 300px;
}
.receipt-tape:hover{
    box-shadow: none;
    transform: translate(3px, 3px),
}

.receipt-mono{
    font-family: monospace;
}

.receipt-tape .card-footer{
    background-color: unset;
    border-top: unset;
}

.receipt-tape, .queue-small{
    .card-header{
        background-color: unset;
        border-bottom: unset;
    }
}

// .receipt-tape .header{
//     display: flex !important;
//     justify-content: space-between;
// }

.field-required:after{
    content: '*';
    color: red;
    margin-left: 5px;
    font-size: 1.2rem;
}

.up-next{
    display: flex;
}

.queue-box{
    display: inline-flex;
}

.queue-box.queue{
    align-items: baseline;
    align-content:space-around;
}


.queue-small{
    &:hover{
        i{
            opacity:0.5;
        }
    }
    i{
        position: absolute;
        right: 5px;
        top: 5px;
        opacity: 0;
    }
    i:hover{
        opacity: 1;
    }
    h2{
        margin-top: 0 !important;
    }
    &.card{
        // width: 150px;
        // height: 150px;
        width: 6rem;
        height: 6rem;
        text-align: center;
    }
    .card-body{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        p{
            font-size: .75rem;
        }
    }
}


.queue-actions{
    align-self: flex-end;
}


.show-queue-container{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-queue{
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: .35 !important;
}

.close-queue:hover{
    opacity: 1 !important;
}

.queue-large{
    &.card{
        border: unset;
        // min-width: 33%;
        // max-width: 50%;
        // max-height: 50%;
        // min-height: 33%;
    }
    .card-body{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.queue-large-content{
    justify-content: center;
    align-items: center;

	&>h2{
        font-size: 15vmin !important;
        // @include font-size(4.5rem);
	}

	&>h6{
        font-size: 6vmin !important;
        // @include font-size(1.5rem);
    }
}

.queue-container{
    overflow: hidden;
    flex: 1;
    display: flex;
}

.serving-header{
    // margin: 20px auto 0 auto !important;
    text-align: center;
    // font-size: 3vw;
    position: fixed;
    left: 0;
    right: 0;
    + button{
        z-index:100;
        opacity: 0.1;
    }
}

.queue-modal .modal-header{
    border-bottom: unset;
    @extend .mt-2;
}

.portal-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%
}

.overview-wrapper{
    display: flex;
    flex-wrap: wrap
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.stat-box .ui.statistic:last-child{
    margin-bottom: 1em;
}

.stats-header{
    background-color: #E8EAEA !important;
    padding: .25em 1em !important;
    font-size: small !important;
    font-weight: bold;
}

.stats-footer{
    padding: .5em 1em !important;
}

.column>.row-stack{
    padding-top: 1em;
    padding-bottom: 1em;

    &:first-of-type{
        padding-top: unset;
    }
    &:last-of-type{
        padding-bottom: unset;
    }
}

.ui.celled.table tr th{
    border-left: none;
}

.summary-box{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.status-fullypaid{
    color: green !important;
}

.status-partiallypaid{
    color: orange !important;
}

.status-unpaid{
    color: red !important;
}

.tab-wrap>.ui.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &>.item{
        border-bottom: rgba(34, 36, 38, 0.1) 1px solid;
    }
}

.disabled-div{
    pointer-events: none;
    cursor: default;
    background-color: darkgrey;
    opacity: .8;

    &:after{
        content: "This content is currently not active"
    }
}

.report-box{
    display: flex;
    justify-content: flex-end;
}

.statistic{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1em 0;
    max-width: auto;

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }

    .statistic-value{
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        font-size: 4rem!important;
        font-weight: 400;
        line-height: 1em;
        text-transform: uppercase;
        text-align: center;
    }

    .statistic-label{
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        font-size: 1em;
        font-weight: 700;
        opacity: .87;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0
    }

    &.small{
        .statistic-value{
            font-size: 2rem!important;
        }

        .statistic-label{
            font-size: .75em;
        }
    }
}


.statistic+.statistic{
    margin: 0 0 0 1.5em;
}



.divider{
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0,0,0,.85);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.icon-in-box{
    position: absolute;
    // padding: .75rem
    padding: 0.5rem;
}

.icon-in-sm-box{
    position: absolute;
    padding: .5rem .75rem
}

.box-with-icon{
    text-indent: 30px;
}

.icon-big{
    font-size: 1.5rem
}

.divided-container div[class^=col]{
    box-shadow: -1px 0 0 0 rgb(34 36 38 / 15%);
}

.divided-container div[class^=col]:first-child{
    box-shadow: none;
}

.confirm-buttons button{
    margin-left: 0.75em;
}

.text-right{
    text-align: right;
}

.dimmer.visible{
    height: 100%;
    width: 100%;
    background-color: darkgray;
    opacity: 80%;
    position: absolute;
    z-index: 100;
}

.dimmer.visible.noclick{
    pointer-events: none;
}

.dimmer.visible.blurred *:not(.dimmer-text){
    filter: blur(3px);
}

.dimmer-text{
    position: absolute;
    z-index: 1000;
    text-align: center;
    top: 33%;
}

.w-45{
    width: 45% !important;
}

.thin-input{
    width: unset !important {

    }
}

.inline-form{
    display: flex;
    align-items: baseline;
}

#salesWinnerSelect{
    width:25ch;
}
